
<div class="bg-gray-100 font-family-karla flex">
   <ui-dashboard-sidebar-navigation></ui-dashboard-sidebar-navigation>
      
      <div class="relative w-full flex flex-col h-screen overflow-y-hidden">
        <ui-dashboard-header></ui-dashboard-header>
      
        <div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
            <main class="w-full flex-grow p-6">
             
                      <!-- Content goes here! 😁 -->
                <router-outlet></router-outlet>
            </main>
      
            <ui-dashboard-footer></ui-dashboard-footer>
        </div>
        
      </div>
      
</div>
