<a  routerLink="/dashboard"
routerLinkActive="active-nav-link" class="flex
                        opacity-75 hover:opacity-100 pt-4  pl-1 text-black-900
                         nav-item items-center">
                            <i class="fas fa-tachometer-alt mr-2"></i>
                            Dashboard
                        </a>
                      <a href="blank.html" class="flex
                      opacity-75 hover:opacity-100 pt-4 text-gray-500 hover:text-gray-900
                       nav-item items-center">
                            <i class="fas fa-sticky-note m-2"></i>
                            Blank Page
                        </a>
                          <a href="tables.html" class="flex
                          opacity-75 hover:opacity-100 pt-4 text-gray-500 hover:text-gray-900
                           nav-item items-center">
                            <i class="fas fa-table m-2"></i>
                            Tables
                        </a>
                        <a href="forms.html" class="flex
                        opacity-75 hover:opacity-100 pt-4 text-gray-500 hover:text-gray-900
                         nav-item items-center">
                            <i class="fas fa-align-left m-2"></i>
                            Forms
                        </a>
                        <a href="tabs.html" class="flex
                        opacity-75 hover:opacity-100 pt-4 text-gray-500 hover:text-gray-900
                         nav-item items-center">
                            <i class="fas fa-tablet-alt m-2"></i>
                            Tabbed Content
                        </a>
                        <a href="calendar.html" class="flex
                        opacity-75 hover:opacity-100 pt-4 text-gray-500 hover:text-gray-900
                         nav-item items-center">
                            <i class="fas fa-calendar m-2"></i>
                            Calendar
                        </a>
                        <a href="#" class="flex
                        opacity-75 hover:opacity-100 pt-4 text-gray-500 hover:text-gray-900
                         nav-item items-center ">
                            <i class="fas fa-cogs m-2"></i>
                            Support
                        </a>
                        <a href="#" class="flex
                        opacity-75 hover:opacity-100 pt-4 text-gray-500 hover:text-gray-900
                         nav-item items-center ">
                            <i class="fas fa-user m-2"></i>
                            My Account
                        </a>
                        <a href="#" class="flex
                        opacity-75 hover:opacity-100 pt-4 text-gray-500 hover:text-gray-900
                         nav-item items-center ">
                            <i class="fas fa-sign-out-alt m-2"></i>
                            Sign Out
                        </a>
                        <!-- <button class="w-full bg-white cta-btn font-semibold  mt-3 rounded-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center">
                            <i class="fas fa-arrow-circle-up m-2"></i> Upgrade to Pro!
                        </button>     -->

<!-- <aside class="relative bg-sidebar h-screen w-64 hidden sm:block shadow-xl">
    <div class="p-6">
        <a  routerLink="/users" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">Admin</a>
        <button [routerLink]="['/users/create']" class="w-full bg-white cta-btn font-semibold py-2 mt-5 rounded-br-lg rounded-bl-lg rounded-tr-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center">
            <i class="fas fa-plus mr-3"></i> Add New User
        </button>
    </div>
    <nav class="text-white text-base font-semibold pt-3">
        <a 
        routerLink="/dashboard"
        routerLinkActive="active-nav-link"
        class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
            <i class="fas fa-tachometer-alt mr-3"></i>
            Dashboard
        </a>
        <a routerLink="/users"
        routerLinkActive="active-nav-link"
        class="flex items-center  text-white py-4 pl-6 nav-item">
        <i class="fas fa-users mr-3"></i>
           Users Management
        </a>
        <a href="tables.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
            <i class="fas fa-table mr-3"></i>
            Tables
        </a>
        <a href="forms.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
            <i class="fas fa-align-left mr-3"></i>
            Forms
        </a>
        <a href="tabs.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
            <i class="fas fa-tablet-alt mr-3"></i>
            Tabbed Content
        </a>
        <a href="calendar.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
            <i class="fas fa-calendar mr-3"></i>
            Calendar
        </a>
    </nav>   
</aside> -->
